@import "tailwindcss";

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50 dark:bg-slate-950 dark:text-slate-100;
  }
}

:root {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}